<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
    </div>
    
    <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Username</th>
                <th>City</th>
            </tr>
            <% listUsers.forEach(function(user) { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                    <td><%= user.name %></td>
                    <td><%= user.city %></td>
                    <td>
                            <a href="/edit/<%= user.id %>">Edit</a>
                            <a href="/delete">Delete</a>
                    </td>
                </tr>
             <% }); %> 
    </table>
</body>
</html>